CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_FRONTEND_API=

BILLETTO_ACCESS_KEY_ID=your_billetto_access_key_id
BILLETTO_ACCESS_KEY_SECRET=your_billetto_access_key_secret

DATABASE_NAME=billetto_integration_development
DATABASE_USERNAME=your_pg_user
DATABASE_PASSWORD=your_pg_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_TEST_NAME=billetto_integration_test
